{% extends 'base.html.twig' %}

{% block title %}Source Exchange
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
    <div
        id="feeds" class="container mt-4">
        {# <div id="feed-wrapper"></div> #}
        <div class="card-deck">
            <div id="new" class="card">
                <h3 class="card-header text-white bg-primary">
                    Neueste Themen
                </h3>
                <div class="card-body">
                    <ul class="list-group">
                        {% for topic in topics %}
                            <li class="list-group-item">
                                <a href="{{ path('topic_show', {'id': topic.id}) }}">
                                    <h4 class="topic-main-view">{{ topic.title }}</h4>
                                </a>
                                <h6 class="text-muted description-main-view">{{ topic.description }}</h6>
                                <h6 class="text-muted text-right">{{ topic.sourceCount }}
                                    {% if topic.sourceCount == 1 %}
                                    Quelle
                                    {% else %}
                                    Quellen
                                    {% endif %}
                                </h6>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="popular" class="card" border-color="#0E0F0E">
                <h3 class="card-header text-white bg-primary">
                    Populäre Themen
                </h3>
                <div class="card-body">
                    <ul class="list-group">
                        {% for topic in popularTopics %}
                            <li class="list-group-item">
                                <a href="{{ path('topic_show', {'id': topic.id}) }}">
                                    <h4 class="topic-main-view">{{ topic.title }}</h4>
                                </a>
                                <h6 class="text-muted description-main-view">{{ topic.description }}</h6>
                                <h6 class="text-muted text-right">{{ topic.sourceCount }}
                                    {% if topic.sourceCount == 1 %}
                                    Quelle
                                    {% else %}
                                    Quellen
                                    {% endif %}
                                </h6>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
