{% if report.topic is not null %}
    {% set reportedUser = report.topic.user %}
{% else %}
    {% set reportedUser = report.link.user %}
{% endif %}

{% extends "base.html.twig" %}

{% block title %}Meldung Nr. {{ report.id }} {% endblock %}

{% block body %}
    <h1>Beschwerde #{{ report.id }} <h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Typ</td>
                {% if report.topic is not null %}
                    <td>Topic</td>
                {% else %}
                    <td>Link</td>
                {% endif %}

            </tr>
            <tr>
                <td>Gemeldeter User</td>
                <td>{{ reportedUser.email }} (#{{ reportedUser.id }})</td>
            </tr>
            <tr>
                <td>Gemeldet von</td>
                <td>{{ report.user.email }} (#{{ report.user.id }})</td>
            </tr>
            {% if report.topic is not null %}
                <tr>
                    <td>Titel</td>
                    <td>{{ report.topic.title }}</td>
                </tr>
                <tr>
                    <td>Beschreibung</td>
                    <td>{{ report.topic.description }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Titel</td>
                    <td>{{ report.link.title }}</td>
                </tr>
                <tr>
                    <td>Beschreibung</td>
                    <td>{{ report.link.description }}</td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td><a href="{{ report.link.href }}" target="_blank">{{ report.link.href }}</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-12 col-md-6"><a href="" class="btn-primary btn-lg btn-block">fdafad</a></div>
        <div class="col-12 col-md-6"><a href="" class="btn-primary btn-lg btn-block">fadadf</a></div>
    </div>
{% endblock %}
