{% if report.topic is not null %}
    {% set reportedUser = report.topic.user %}
{% else %}
    {% set reportedUser = report.link.user %}
{% endif %}

{% extends "base.html.twig" %}

{% block title %}Meldung Nr. {{ report.id }} {% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-3">Beschwerde #{{ report.id }} </h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Typ</td>
                {% if report.topic is not null %}
                    <td>Topic</td>
                {% else %}
                    <td>Link</td>
                {% endif %}
            </tr>
            <tr>
                <td>Gemeldeter User</td>
                <td>{{ reportedUser.email }} (#{{ reportedUser.id }})</td>
            </tr>
            <tr>
                <td>Gemeldet von</td>
                <td>{{ report.user.email }} (#{{ report.user.id }})</td>
            </tr>
            <tr>
                <td>Themen-Titel</td>
                <td>
                    <a href="{{ path('topic_show', {'id': report.topic.id}) }}">{{ report.topic.title }}</a>
                </td>
            </tr>
            <tr>
                <td>Themen-Beschreibung</td>
                <td>{{ report.topic.description }}</td>
            </tr>
            {% if report.link is not null %}
                <tr>
                    <td>Link-Beschreibung</td>
                    <td>{{ report.link.description }}</td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td><a href="{{ report.link.href }}" target="_blank">{{ report.link.href }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <td>Anmerkung zur Beschwerde</td>
                <td>{{ report.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <a
                href="{{ path('report_decide', {'report': report.id, 'approve': true}) }}"
                class="btn-danger btn-lg btn-block text-center"
            >
                Gemeldeten Inhalt löschen
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a
                href="{{ path('report_decide', {'report': report.id, 'approve': false}) }}"
                class="btn-success btn-lg btn-block text-center"
            >
                Beschwerde löschen und Inhalte behalten
            </a>
        </div>
    </div>
</div>
{% endblock %}
